
[server1]
type=server
address=master1
port=3306
protocol=MariaDBBackend

[server2]
type=server
address=master2
port=3306
protocol=MariaDBBackend

[MariaDBdMonitor]
type=monitor
module=mariadbmon
servers=server1,server2
user=maxuser
password=maxpwd
auto_failover=true
auto_rejoin=true
#enforce_read_only_slave=1

[ShardedService]
type=service
router=schemarouter
servers=server1,server2
user=maxuser
password=maxpwd

[Sharded-Service-Listener]
type=listener
service=ShardedService
protocol=MariaDBClient
port=4000





